@charset "utf-8";
/* CSS Document */
p{text-align:center; }
p2{float:left;width:100%;text-align:center; font-weight:bold;}
p1{color: #333333; padding-top:5px;}
p3{color: #2392ff;padding-left: 156px;}
#header
{
	font-size: 18px;
	font-family: Lucida Sans Unicode;
	text-decoration: underline;
	color: rgb(217,160,75);
	text-align: center;
	margin-top: 50px;
}
.txtbox{
	width:99px;
	height:21px;
	background-color: #f1f1f1;
	color: #333333;
	
	border-color: #f1f1f1;
}
.okbtn{
background-color: #ff9326;
	color: #ffffff;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	float: left;
	border:none;
}
#addedRows,#addedRows_non{
	text-align:center;
	width:59%;
	float:left;
}
#custidtle
{
width: 250px;
height: 40px;
text-align: center;
margin-bottom: 10px;
margin-left: 120px;
font-size: 15px;
font-family: Lucida Sans Unicode;
}
#custidtle_pass
{
width: 273px;
height: 40px;
text-align: center;
margin-bottom: 10px;
margin-left: 120px;
font-size: 15px;
font-family: Lucida Sans Unicode;
}
#custidtle_upl
{
width: 273px;
height: 40px;
text-align: center;
margin-bottom: 10px;
margin-left: 120px;
font-size: 15px;
font-family: Lucida Sans Unicode;
}
#custid_2{
	width:95px;
}
#custid
{
width: 100px;
height: 27px;
border-radius: 4px;
border-style: solid;
border-color: rgb(241,147,228);
background-color: #f1f1f1;
border-width: 1px;
text-align: center;
margin-bottom: 10px;
margin-left: 100px;
font-size: 15px;
font-family: Lucida Sans Unicode;
}
.setupbtn{
	background-color: #ff9326;
	color: #ffffff;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	float: left;
	border:none;
	
}
.setgetbtn{
	background-color: #ff9326;
	color: #ffffff;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	float: left;
	border:none;
	
}
.verifybtn{
	background-color: #ff9326;
	color: #ffffff;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	float: left;
	border:none;
	
}
#dropmenu
{
width: 125px;
padding-right: 15px;

}

#assetcategorytype,#assetavail,#country,#powersupply,#dieselCapacity,#categoryCapacity,#currency,#usage,#assetid,#customer{
	width: 150px;
    padding-right: 0px;
    height:26px;
    margin-left:0px;
    margin-bottom:20px;
    font-size: 15px;
}
#assetdef,#pricingtable{
	float:left;
	width: 70%;
	margin-left:300px;
	 margin-top:20px;
}
#assetdescription{
	resize: none;
}
#assetname,#assetdescription,#availfrm,#year,#maintenance,#fault,#assetprice,#assetid,#usage,#price,#currency{
	width: 150px;
	margin-bottom:20px;
	float:left;
	font-size: 15px;
}
#price{
	width:50px;
}
.mydropmenu
{
width: 100px;
height: 46px;
border-radius: 4px;
border-style: solid;
border-color: rgb(241,147,228);
background-color: #f1f1f1;
border-width: 1px;
text-align: center;
margin-bottom: 10px;
margin-left: 100px;
font-size: 15px;
font-family: Lucida Sans Unicode;
}
#generate
{
}
.generate{
background-color: #ff9326;
	color: #ffffff;
	width: 251px;
	height: 30px;
	font-size: 16px;
	border-radius: 5px;
	float: left;
	border:none;
}
.description{
height: 30px;
background-color: #f1f1f1;
border-color: #f1f1f1;
}
select{
	width: 200px;
	height: 30px;
	margin-left:20px;
}
.imgbtn
{
width:100px;
height: 100px;
background-color: #ffffff;
}
.sbtbtn{
	float:left;
}
.sbtbtn{
 background-color: #ff9326;
 color: #ffffff;
 width: 100px;
 height: 30px;
 border-radius: 5px;
 float: left;
 border:none;
 
}
.addbtn{
	width: 35px;
	height:35px;
	background-color: #ffffff;
	color: #ff9326;
	border-color: #ffffff;
	font-weight:5000;
}
