@charset "utf-8";
/* CSS Document */
@media (max-width: 980px)  {

#assetdef,#pricingtable {
    margin-left: 218px;
}
#asset_cat {margin-left: 215px;}
#form {margin-left: 215px;}
.sbtbtn_assetdef,.sbtbtn_assetprice{
   margin-left: 90px;
}
#addassetcat{
	width:395px;
}
#addasset{
	width:195px;
}
.sbtbtn{
   margin-left: 425px;
}
.sbtbtnadd{
   margin-left: 195px;
}
.sbtbtn_assetpriceadd,.sbtbtn_assetadd{margin-left: 345px;}
}
@media (max-width: 800px)  {
.sbtbtn_assetpriceadd,.sbtbtn_assetadd{margin-left: 257px;}
#asset_cat {margin-left: 145px;}#form {margin-left: 144px;}
.sbtbtn{margin-left: 355px;
	}
#assetdef, #pricingtable{
    margin-left: 158px;
}
#addassetcat{
	width:325px;
}
#addasset{
	width:188px;
}
.sbtbtnadd{
   margin-left: 140px;
}
.sbtbtn_assetdef,.sbtbtn_assetprice {
   margin-left: 40px;
}
}
@media (max-width: 768px)  {

h1{font-size:22px;}h4{ margin-left:0px;
}
.inptxt{
	width:400px;
	margin-left:0px;	
	
}
.tblcls_2,.table2,.table3{
padding-left:0px;
float:left;
}
.generate{
	width:200px;
}
#assetdef,#pricingtable {
    margin-left: 150px;
    margin-top: 20px;
}
.sbtbtn_assetpriceadd,.sbtbtn_assetadd{margin-left: 248px;}
.sbtbtn_assetdef,.sbtbtn_assetprice {
   margin-left: 20px;
}
@media (max-width: 635px) {
h1{font-size:22px; margin-right:28px;}h4{ font-size:15px;margin-left:0px;}
.inptxt{
		width:250px;
		margin-left:0px;
}
.tblcls_1{
	padding-left:0px;
	width:300px;
}
.value{
	width:66px;
}
.sgncls{
width:13%;
margin-right:40%;
}
.tblcls_2{
	padding-left:0px;
}
#custidtle{
	margin-left:60px;
	
}
#custidtle_pass {
  width: 247px;
  margin-left: 118px;
}
.generate{
	width:200px;
}
}
@media (max-width: 480px) {
h1{font-size:15px;} p{font-size:14px;}
.inptxt{
	width: 200px;
}
.table2{
padding-left:0px;
float:left;
}
.sgncls{
width:26%;
margin-right:38%;
}
.tblcls_2{
	padding-left:0px;
	width:368px;
}
.setgetbtn{
	width:62px;
}
#loginwindow {
    width: 274px;
}
.tblcls { margin-left:0px;}
#custidtle{
	margin-left:0px;
	width: 167px;
	font-size:14px;
}
.okbtn{
	width:60px;
}
.verifybtn{
	width:64px;
}
#custidtle_pass {
  width: 200px;
  margin-left: 0px;
}
#custidtle_upl {
	width:200px;
	margin-left: 0px;
}
}
@media (max-width: 320px) {
.sgncls{
width:24%;
margin-right:34%;
}
.tblcls_2{
	padding-left:0px;
}
}