@charset "utf-8";
/* CSS Document */
body{ margin: 0px;

	
}
#logo
{
	
	height:45px;
	width:120px;
	float:left;
	margin-left:5px;
}
h1{ width:90%;font-size:26px; color: #2392ff; text-align:center;margin-top: 5px;margin-right:50px; text-decoration:underline;}
h3{color: #2392ff; text-align:center;float:left;width:100%;text-decoration:underline;}
h4{ font-size:18px; color: #2392ff; text-align:center;float:left;margin-left: 50px;}
h5{ font-size:16px; color: #2392ff;}
h6{font-size:15px; color: #2392ff; text-align:center;float:left;width:100%;margin-top:0px;margin-bottom:0px;}
h9{ color: red; float: left;}
h10{font-size:15px; color: #2392ff; text-align:left;float:left;margin-bottom:20px;}
h11{font-size:15px; color: #2392ff; text-align:left;float:left;}
p{text-align:center;float:left;width:100%}

#newassetcategory:checked + p {
    
    visibility:hidden;
    
}
tr{ color: #2392ff;}
select
{
	background-color:#f1f1f1;
	color:#333333;
}
hr{
	width:100%;
	color: #ff9326;
	background-color: #ff9326;
	height: 2px;
	border: none;
	float:left;
}
#align_left{
	padding-left:50px;
	padding-top:30px;
}
#form{
	margin-left:300px;
	float: left;
	width:75%;
}
#asset_cat{
	width: 75%;
	margin-left:300px;
	padding-top: 10px;
	float:left;
}
.sbtbtn{
background-color: #ff9326;
 color: #ffffff;
 width: 100px;
 height: 30px;
 border-radius: 5px;
 float: left;
 border:none;
 margin-left: 500px;
  margin-top: 30px;
}
.sbtbtnadd{
background-color: #ff9326;
 color: #ffffff;
 width: 155px;
 height: 30px;
 border-radius: 5px;
 float: left;
 border:none;
 margin-left: 285px;
  margin-top: 30px;
}
.sbtbtnaddasset{
background-color: #ff9326;
 color: #ffffff;
 width: 155px;
 height: 30px;
 border-radius: 5px;
 float: left;
 border:none;
 margin-top: 30px;
}
.sbtbtnaddprice{
background-color: #ff9326;
 color: #ffffff;
 width: 155px;
 height: 30px;
 border-radius: 5px;
 float: left;
 border:none;
 margin-top: 30px;
}
.sbtbtn_assetdef{
background-color: #ff9326;
 color: #ffffff;
 width: 150px;
 height: 30px;
 border-radius: 5px;
 float: left;
 border:none;
 margin-left: 70px;
  margin-top: 30px;
}
#btn,#btnprice,#submit,#addbtntbl{
	float:left;
}
#addassetcat{
	width:500px;
}
#addasset{
	width:200px;
}
#addbtntbl{
	width:100%;
}
.sbtbtn_assetadd{
 background-color: #ff9326;
 color: #ffffff;
 width: 150px;
 height: 30px;
 border-radius: 5px;
 float: left;
 border:none;
 margin-left: 450px;
  margin-top: 30px;	
}
.sbtbtn_assetprice{
background-color: #ff9326;
 color: #ffffff;
 width: 100px;
 height: 30px;
 border-radius: 5px;
 float: left;
 border:none;
 margin-left: 70px;
  margin-top: 30px;
}
.sbtbtn_assetpriceadd{
	background-color: #ff9326;
 color: #ffffff;
 width: 100px;
 height: 30px;
 border-radius: 5px;
 float: left;
 border:none;
 margin-left: 450px;
  margin-top: 30px;
}
.report{
	float:left;
	width: 100%;
}

.inptxt{
	width: 500px;
	height: 20px;
	background-color:#f1f1f1;
	margin-top:20px;
	margin-left: 40px;
}
.tblcls_1
{
width: 477px;
height: 200px;

font-size:15px;
font-family:Lucida Sans;
margin-top: 10px;
margin-left: 4px;
padding-left: 100px;
float: center;
}
.tblcls_2{
width: 477px;
padding-left:90px;
float:left;
}
.table2{
padding-left:87px;
float:left;
}
.table3{
padding-left:87px;
float:left;
}
.value{
	width: 100px;
	height: 15px;
	background-color:#f1f1f1;
	
}
.button{
	background-color: #ff9326;
	color: #ffffff;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	float: left;
	margin-left: 0px;
	
}
/*Login page*/
@charset "utf-8";
/* CSS Document */
body
{
	padding:0px;
	margin::0px;
}

//#banner
//{
//	width: 100%;
//	/* background-color: brown; */
//	height: 120px;
//	/*background-color: #B8B4B4;*/
//	
//}
//#logo
//{
//	float:left;
//	width: 217px;
//	/* background-color: brown; */
//	height: 120px;
//	margin-left: 5px;
//}
#loginwindow
{
	margin:0px auto;
	width: 511px;
	height: 196px;
	border-color: white;
	/* background-color:#933; */
	border-width: 3px;
	border-style: solid;
	margin-top: 0px;
	border-radius: 8px;
}
.tblcls
{
width: 100%;
height: 120px;
font-size:15px;
font-family:Lucida Sans;
align:center;
margin-left: 50px;
float:left;

}
.inpbtn
{
width: 180px;
height: 26px;
border-radius: 4px;
border-style: solid;
border-color: #f1f1f1;
background-color: #f1f1f1;
border-width: 1px;
}
.sgncls
{
width: 17%;
height: 43px;
border-radius: 10px;
float: right;
margin-right: 42%;
margin-left:30%;
margin-top: 6px;
background-color: #ff9326;
color: #fff;

}
#lgnbtn
{
	width:100%;
	height: 100px;
}
#login
{
	//margin-left:650px;
	margin-top:50px;
	margin-bottom:30px;
	text-align:center;
	color: #2392ff;
	font-size:18px;
	font-family:Lucida Sans;
	float:left;
	width: 100%;
}
/*Login page End*/
/*Menu*/
.menu{
	align: center;
	background-color: #2392ff;
	color:#fff;
	border-radius: 5px;
	width:300px;
	font-size:16px;
	margin-top: 10px;
	height: 50px;
}
#option
{
	float:left;
	width:100%;
}
/*Menu End*/